<!DOCTYPE html>
<html ng-app='app'>
<head>
	<title>taskManager</title>
	<script type="text/javascript" src="https://code.angularjs.org/1.4.6/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
		.row {
			padding-top: 10%;
		}
	</style>
</head>
<body ng-controller="personCtrl">
	<div class="container-fuid">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<input type="text" ng-model="name"/>
				<p>{{name}}'s todo list</p>
				<form ng-submit="addTask()">
					<input type="text" ng-model="taskToAdd"/>
					<input type="submit" value="add"/>
				</form>
				<ul>
					<li ng-repeat="task in tasks">
						{{task}}
						<input type="button" ng-click="editTask(task)" value="edit"/>
						<input type="button" ng-click="deleteTask(task)" value="delete"/>
					</li>
				</ul>
			</div>
		</div>
	</div>
<script type="text/javascript" src="personCtrl.js"></script>
</body>
</html>

